<div class="w-full flex md:justify-center justify-between items-center flex-col p-4 gradient-bg-footer">   

    <div class="flex justify-center items-center flex-col mt-5">
      <p class="text-white text-sm text-center">Come join us and hear for the unexpected miracle</p>
      <p class="text-white text-sm text-center font-medium mt-2">allgame45@hotmail.com</p>
    </div>

    <div class="sm:w-[90%] w-full h-[0.25px] bg-gray-400 mt-5 " ></div>

    <div class="sm:w-[90%] w-full flex justify-between items-center mt-3">
      <p class="text-white text-left text-xs">@Muammad Rizwan</p>
      <p class="text-white text-right text-xs">All rights reserved</p>
    </div>
  </div>